/* Your imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Change this to your preferred font */
}

.timer-container {
  text-align: center;
  background-color: #00bafc;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-display {
  color: white;
  font-size: 50px;
  margin-top: 10px;
}

.user-input {
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px;
  margin-top: 10px;
}

.bomb-image {
  width: 150px;
  margin-top: 40px;
}
